@charset "utf-8";
body{
    text-align: center;
   
}

#container{
    border-radius: 100px;
}

#delete{

    background-color: red;  }

#send, #delete{
    font-weight: bold;  }

div#resDelete {
    display: none;
}




#delete:hover, #send:hover{
    
    border-radius: 10px;
    padding: 10px 30px;
}

#resDelete{
    display: inline-block;
    text-align: center;
    margin: 20px auto 20px auto;
   
}

#resDelete button img{
    display: inline-block;
    height: 30px;
    
   
}



#confirm, #cancel{
    background-color: transparent; 
    border:transparent;
}

#confirm:hover img, #cancel:hover img {
    min-height: 50px;
    cursor: pointer;
    border: transparent;
    
    
}
